*{
	padding:0px;
	margin:0px;
}
body{
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:center;
}
#main{
	max-width:1365px;
	max-height:660px;
	border:1px solid black;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-moz-box-orient:vertical;
	background-image:url(images/background.jpg);
	background-size:100% 100%;
}
header,footer,section{
	display:block;
}

/* head of site */
header{
	height:130px;
	border-bottom:1px solid black;
	/*background:-webkit-radial-gradient(center,circle,pink 0%,gold 50%,purple 100%);*/
	
}

/* for login sign up*/
#h1{
	width:15%;
	height:18%;
	margin-left:0.5%;
	margin-top:0.5%;
}
#login,#signup{
	height:80%;
	width:60px;
	border-radius:5px;
	position:relative;
}

/* for username */
#h2{
	background-color:orange;
	width:28%;
	height:55%;
	float:left;
	border-radius:4px;
	border-top-left-radius:0px;
	margin-left:0.5%;
	display:none;
}
#hd1,#hd2,#hd3{
	width:100%;
	height:27%;
	text-align:center;
}
#hd2,#hd3{
	display:-webkit-box;
	display:-moz-box;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
}

/* title */
#h3{
	width:42%;
	height:40%;
	margin-left:29%;
	text-align:center;
	font-size:50px;
	font-style:oblique;
}

/* time and date */
#h4{
	width:25%;
	height:18%;
	line-height:20px;
	float:right;
	margin-top:-6%;
	text-align:center;
	margin-right:10px;
	background:none;
	border:none;
}
#h5{
	float:right;
	margin-right:50px;
}
#h5:hover{
	color:red;
	text-decoration:line;
}



/* for main body */
section{
	height:490px;
	display:-webkit-box;
	/*-webkit-box-orient:horizontal;*/
	box-orient:horizontal;
}

/* for 3 parts */
#art1,#art3{
	width:452px;
}
#art2{
	width:452px;
	border-left:1px solid black;
	border-right:1px solid black;
}

/* for categories & items */
/* to cover section a */
#full{
	display:none;
	height:15;
	float:right;
	padding-top:0px;
}
#cat{
	width:100%; /*38%*/
	height:100%;
	float:left;
	-webkit-transition:width 0.5s;
}
#adiv1{
	border:1px solid black;
	height:12%;
	width:99%;
	text-align:center;
	cursor:pointer;
	font-size:17px;
	text-transform:uppercase;
	font-style:italic;
	font-weight:bold;
}
#cat1,#cat2{
	border:1px solid black;
	height:30%;
	width:99%;
	text-align:center;
	padding-top:2%;
	font-size:17px;
	text-transform:uppercase;
	font-style:italic;
	font-weight:bold;
	margin-top:2%;
	cursor:pointer;
}
#cat10,#cat9,#cat3,#cat4,#cat5,#cat6,#cat7,#cat8{
	border:1px solid black;
	height:8%;
	width:99%;
	text-align:center;
	font-size:15px;
	font-style:italic;
	text-transform:uppercase;
	cursor:pointer;
}

/* for item list */
#list{
	float:left;
	width:63%;
	display:none;
}
#list1,#list2,#list3,#list4,#list5,#list6,#list7,#list8,#list9,#list10{
	height:97%;
	width:0%;
	display:none;
	cursor:pointer;
	-webkit-transition:width 0.5s;
}

#cat table tr{
	color:red;
	background-color:#F6F3EC;   /* #E3AE57  #50d07d*/
}
div[id^="list"] table tr td{
	text-align:center;
	background-color:#1ec7e6;
	border-top:1px solid black;
}
div[id^="list"] table{
	border:1px solid black;
	margin-top:5px;
}
#list div table tr td[name="it"]:hover{
	color:red;
	font-size:100%;
}


/* for cart part */

/* for button */
#cd1{
	height:20px;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
}
#b1,#b2{
	display:none;
}

/* for 3 carts */
#div2,#div3{
	display:none;
	cursor:pointer;
}
#div1,#div2,#div3{
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,0.92)0%,rgba(255,255,255,0.92)100%),url(images/cart1.jpg);
	background-repeat:no-repeat;
	background-size:450px 290px;
}
#div1 tr td,#div2 tr td,#div3 tr td{
	-webkit-border-radius:4px;
	border:1px solid black;
	height:10px;
	font-style:italic;
}

/* for cost */
#sec{
	height:20%;
	width:100%;
	margin-top:2%;
	border:none;
}


/* for middle part*/
#default{
	height:100%;
	width:99%;
	background-image:url(images/Yukinoshita.Yukino.full.1862874.jpg);
	padding-left:5px;
	background-size:100% 100%;
}

/* for image*/

/* name of item */
#name{
	height:10%;
	width:90%;
	margin-top:10px;
	margin-left:20px;
	text-align:center;
	padding-top:20px;
	font-size:20px;
	font-style:italic;
	font-weight:bold;
}

/* img of item */
#b{
	height:50%;
	margin-top:10px;
	margin-bottom:10px;
	width:70%;
}

/* item detail */
#detail{
	height:28%;
	width:90%;
	margin-left:20px;
}
#image{
	display:none;
}
#sub{
	width:50%;
	height:100%;
	font-family:italic;
	font-weight:bold;
}
#sub:hover{
	color:red;
}


/* footer of site */
footer{
	border-top:1px solid black;
	height:40px;
	font-size:20px;
	display:-webkit-box;
	-webkit-box-align:center;
	padding-left:38%;
}